* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}


.container {
    background: #ffffff94;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    width: 260px;
    text-align: center;
    font-size: 18px;
 }  

 footer {
     position: fixed;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     color: white;
     font-size: 12px;
     font-weight: 400;
 }